{% extends "portfolio/base.html" %}

{% block content %}

<h1 style="font-size:50px;" id="blogtitle" class="font-weight-bold text-center">ചിതലിനും വേണ്ടാത്ത കുറിപ്പുകൾ</h1>

<!-- <h3 style="font-size: small;" class="text-left mb-5">{{ blogobjects.paginator.count }} കുറിപ്പുകൾ</h3> -->
<div class="container" >
  <div class="jumbotron" >
{% for obj in blogobjects  %}
    <div class="row justify-content-center my-3">
     <div class="col-md-10">

   <a href="{% url 'blog:detail' obj.id %}"> <h2>{{ obj.blog_title }}</h2></a>
   <h5 class="text-muted"> {{ obj.blog_time| date:'d M Y' }}</h5>
    <h4>{{ obj.blog_description|striptags|truncatechars:100 |safe }}</h4>
</div>
</div>
{% endfor %}
</div>
</div>

<nav aria-label="...">
  <ul  class="pagination pagination-lg justify-content-center">

  {% for num in blogobjects.paginator.page_range %}

        <li  class="page-item"><a style="color:rgb(12, 12, 12);" class="page-link" href="?page={{ num }}">{{ num }}</a></li>
               
  {% endfor %}
</ul>

</nav>


{% endblock content %}

